---
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

$fadeTo: rgba(240, 240, 240, .9);

body, h1, h2, h3, p, ul, li {
    font-family: Avenir, HelveticaNeue;
    margin: 0;
    padding: 0;
}

body {
    background: url(bg.png);
    background-image: url(bg.svg);
    background-repeat: repeat;
    background-attachment: fixed;
}

body > header, body > footer {
    padding: 1em 0;
}

body > header {
    width: 960px;
    margin: 2em auto;
    border-radius: 2px;

    text-transform: lowercase;
    background: linear-gradient(#eee, $fadeTo);

    h1 {
        a {
            font-size: 1.2em;
            font-family: 'Shadows Into Light Two', cursive;
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
            &:visited {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

body > header h1, body > header h2 {
    margin: 0;
    padding: 0 1rem;
}

body section.content {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;

    .pagination {
        margin-top: 2em;
        text-align: right;
    }
}

body section.content section.articles {
    flex: 3;
    margin-top: -3em;
}

body section.content aside {
    flex: 1;

    text-align: center;
    text-transform: lowercase;

    margin-left: 3em;

    section {
        padding: 2em;
        margin-bottom: 3em;
        border-radius: 2px;

        background: linear-gradient(#eee, $fadeTo);

        h4 {
            font-family: 'Shadows Into Light Two', cursive;
            font-size: 1.2em;
            margin-top: 0;
            padding-bottom: 1em;
            margin-bottom: 1em;

            border-bottom: 1px solid #aaa;
        }

        ul {
            list-style: none;
        }
    }
}

body section.content aside section p, body section.content aside section blockquote {
    text-transform: none;
    font-size: .9em;
}

body section.content aside section blockquote {
    margin: 1em 0 0;
    font-style: italic;
}

body section.articles article {
    padding: 2em;
    margin: 3em 0 0;
    border-radius: 2px;

    background: linear-gradient(#eee, $fadeTo);

    &.Aaron {
        background: linear-gradient(#6fc, $fadeTo);
    }

    &.Alyssa {
        background: linear-gradient(#f9bfc7, $fadeTo);
    }

    header {
        position: relative;
        text-transform: lowercase;

        h3 a {
            font-size: 1.2em;
            font-family: 'Shadows Into Light Two', cursive;
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        span.posted {
            font-family: 'Shadows Into Light Two', cursive;
            position: absolute;
            top: -60px;
            left: -60px;
            width: 50px;
            height: 50px;
            padding: 5px;

            font-size: 1em;
            font-weight: 100;
            text-align: center;
            color: #fff;
            text-shadow: 0 1px #555;

            border-radius: 50%;

            background: linear-gradient(rgb(34, 32, 144), rgb(27, 24, 115));

            strong {
                font-weight: 100;
                font-size: 1.5em;
                display: block;
            }
        }
    }

    section {
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;

        padding: 1em 0;
        margin: 1em 0;

        p {
            margin-bottom: .5em;
        }

        blockquote {
            text-align: right;
            padding: .5em 1em;

            background: rgba(255, 255, 255, .3);
            border-right: 4px solid #333;
            border-radius: 2px;

            cite {
                display: block;
            }
        }
    }

    footer {
        span, time {
            display: inline-block;
            font-size: .75rem;
        }

        ul.tags {
            list-style: none;
            cursor: default;

            &:before {
                content: "TAGS: ";
                font-size: .75em;
            }

            li {
                display: inline-block;
                margin-bottom: 5px;

                background: #fff;
                color: #000;
                text-shadow: 0 1px #ccc;
                font-size: .75em;

                padding: 2px 4px;
                margin-right: 4px;

                border-radius: 2px;
                box-shadow: 0 1px 0 0 #aaa;

                text-decoration: none;

                &:before {
                    content: "#";
                }
            }
        }
    }
}

body section.articles article.error {
    header h3 {
        text-align: center
    }
    section {
        border-bottom: none;
        padding: 1em 0 0;
        margin: 1em 0 0;
    }
}

body > footer {
    margin: 0 auto;
    text-align: center;
    font-size: .75em;
}

.elevate {
    box-shadow: 0 3px 7px 0 #888;
}

@media screen and (max-width: 768px) {
    body > header {
        margin: .5em auto 3em;
    }

    body > header, body section.content {
        width: 95%;
    }

    body section.content {
        flex-direction: column-reverse;

        .pagination {
            text-align: center;
        }

        aside {
            margin: 0;
        }
    }

    body section.articles article, body section.content aside section {
        margin: 2em 0 0;
    }

    body section.articles article header span.posted {
        left: inherit;
        top: -45px;
        right: -40px;
    }

    body section.content aside, body section.articles article footer {
        font-size: 1.2em;
    }
}
