<head>
    <title>{% if page.title %}{{ page.title }} | {{ site.title-alyssa }}{% else %}{{ site.title-alyssa }} | {{ site.tagline-alyssa }}{% endif %}</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title-alyssa }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
