<aside>
    <section class="elevate">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ "/aaron/" | prepend: site.baseurl }}">Aaron</a></li>
            <li><a href="{{ "/alyssa/" | prepend: site.baseurl }}">Alyssa</a></li>
        </ul>
        <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </section>
    <section class="elevate">
        <h4>Welcome to Real Life with the A'baums!</h4>
        <p>We hope that you will be encouraged (or at least amused...) as we try to keep it real around here. We "A'baums" are a party of four living down yonder (ahem, the South...) who are just trying to live our lives for Jesus. We hope that you can see Him here and that you find Him in the midst of your own "real life."</p>
        <blockquote>"...I came so they can have real and eternal life, more and better life than they ever dreamed of."<cite>John 10:10 (MSG)</cite></blockquote>
    </section>
</aside>
