---
layout: default
---
<article class="{% if page.author %}{{ page.author }}{% endif %} elevate" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h3 itemprop="name headline"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h3>
        <span class="posted elevate">{{ page.date | date: "%b" }} <span>{{ page.date | date: "%-d" }}</span></span>
    </header>
    <section itemprop="articleBody">
        {{ content }}
    </section>
    <footer>
        <span>Posted <time class="timeago" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date }}</time>{% if page.author %} by <span class="author">{{ page.author }}</span>{% endif %}</span>
        {% if page.tags.size > 0 %}
        <ul class="tags">
            {% for tag in page.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </footer>
</article>
